<p>cheque-return works!</p>
<div class="form-group row">
    <div class="input-group col">
      <input class="form-control col-6" placeholder="yyyy-mm-dd as start date"
             name="startDate" [(ngModel)]="model1" ngbDatepicker [footerTemplate]="footerTemplate" #d1="ngbDatepicker" id="startDate">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"></button>
      </div>
      <ng-template #footerTemplate>
        <hr class="my-0">
        <button class="btn btn-primary btn-sm m-2 float-left" (click)="model1 = today; d1.close()">Today</button>
        
      </ng-template>
    </div>
    <div class="input-group col">
        <input class="form-control col-6" placeholder="yyyy-mm-dd as end date"
               name="endDate" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [displayMonths]="2" id="endDate">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"></button>
        </div>
      </div>
    
  </div>
  